/* .features {
    width: 1000px;
    height: 100px;
    background: rgb(197, 18, 18);
    border: 2px solid yellow;
    border-radius: 20px;
}
 ul {
     margin: 0px;
     padding: 0px;
 }*/

.features-header {
    text-align: center;
}

.features-container {
    width: 1200px;
    /* border: 1px solid red; */
    margin: 0px auto
}

.d-flex {
    display: flex;
}

.features-item {
    padding-left: 15px;
    padding-right: 15px;
}

.features-items {
    text-align: center;
    border: 2px solid #f56a79;
    transition: background-color 0.3s;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}

.features-items:hover {
    background-color: #f56a79;
    color: #fff;
}