.navbar-logo img {
    width: 100%;
    color: aqua;
}

.nav ul {
    display: flex;
    justify-content: end;
}

.nav ul li {
    margin: 0 50px;
    color: blanchedalmond;
    font-size: x-large;
}

.header {
    background-color: black;
    background;
    image-rendering: inherit;
}