header {
    position: relative;
}

.header-bg {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}

.navbar-logo img {
    color: white;
}


/* .nav ul {
    display: flex;
    justify-content: end;
} */

.container {
    max-width: 1340px;
    margin: 0 auto;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin: 0 50px;
    list-style: none;
    color: blanchedalmond;
    font-size: x-large;
    z-index: 2;
}

.nav ul li a {
    color: azure;
    text-decoration: none;
}

.header-content {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 70px;
    color: white;
    ;
    margin: -5px;
}


/* .photo img {
    width: 100%;
} */


/* .d-flex {
    display: flex;
} */

.header .container .textt {
    display: flex;
}


}
.header-content .paragraf {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #bbb;
    ;
}
.container .header-section .navbar-logo {
    z-index: 2;
}