body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

.navbar-logo img {
    color: aqua;
}


/* .nav ul {
    display: flex;
    justify-content: end;
} */

.container {
    max-width: 1340px;
    margin: 0 auto;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin: 0 50px;
    color: blanchedalmond;
    font-size: x-large;
}

.header-content {
    font-size: 100px;
    font-weight: 100px;
    color: wheat;
}

#about {
    width: 1200px;
    height: 600px;
}

#about .container .row .text {
    /* width: 700px;
    height: 600px; */
    background: rosybrown;
}


/* .photo img {
    width: 100%;
} */


/* .d-flex {
    display: flex;
} */

#portfolio {
    width: 1520px;
    height: 670px;
    background: darkgrey;
}


}
#contact {
    back width: 1520px;
    height: 670px;
    ground: darkcyan;
}

}
.header .container .textt {
    display: flex;
}
#about {
    width: 1520px;
    height: 670px;
    background: cyan;
}
#contact {
    width: 1520px;
    height: 670px;
    background: darkslategray;
}

}