header {
    position: relative;
}

.header-bg {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}

.navbar-logo img {
    color: white;
}


/* .nav ul {
    display: flex;
    justify-content: end;
} */

.container {
    max-width: 1340px;
    margin: 0 auto;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin: 0 50px;
    color: blanchedalmond;
    font-size: x-large;
    z-index: 2;
}

.header-content {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 70px;
    color: white;
    ;
    margin: -5px;
}

#about {
    width: 1200px;
    height: 600px;
}

#about .container .row .text {
    /* width: 700px;
    height: 600px; */
    background: rosybrown;
}


/* .photo img {
    width: 100%;
} */


/* .d-flex {
    display: flex;
} */

#portfolio {
    width: 1520px;
    height: 670px;
    background: darkgrey;
}

#contact {
    width: 1520px;
    height: 670px;
    background: darkcyan;
}

.header .container .textt {
    display: flex;
}

#about {
    width: 1520px;
    height: 670px;
    background: cyan;
}

#contact {
    width: 1520px;
    height: 670px;
    background: darkslategray;
}

.header-content .paragraf {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #bbb;
    ;
}