body {
    background-color: black;
    background-image: url(/ProjectFrontEnd/image/neeeoooon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    color: #fff;
    position: relative;
    z-index: -2;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.header {
    position: relative;
}

.navbar-logo {
    color: white;
}

.nav ul {
    display: flex;
    justify-content: center;
}

.nav ul li {
    margin: 0 50px;
    list-style: none;
    color: white;
    font-size: x-large;
    z-index: 2;
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

.header-content span {
    font-size: 26px;
}

.header-content {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 70px;
    color: azure;
    margin: -5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
}

.header .container .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about {
    width: 350px;
    height: 350px;
}